<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style1.css">
</head>
<body>
    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="3d-shap.png" width="370px" height="400px" alt="image">

            </div>
            <form>
            <h3>FIRM REGISTER</h3>

            <div class="form-wrapper">
                <input type="text" placeholder="Company Name" class="form-control">
            </div>

            <div class="form-wrapper">
                <input type="email" placeholder="email" class="form-control">
            </div>

             <div class="form-wrapper">
                <input type="password" placeholder="password" class="form-control">
            </div>

            <div class="form-wrapper">
                <input type="password" placeholder="confirm password" class="form-control">
            </div>

            <div class="form-wrapper">
                <input type="text" placeholder="License Number" class="form-control">
            </div>

            <div class="form-wrapper">
                <input type="number" placeholder="Contact Number" class="form-control">
            </div>

            <div class="form-wrapper">
                <input type="text" placeholder="Office Address" class="form-control">
            </div>

            <button>REGISTER</button>

            </div>
            </form>


        </div>
    </div>
    
</body>
</html>