{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style1.css'%}">
    <link href="{%static 'css/style.css'%}" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="{%static '3d-shap.png'%}" width="300px" height="300px" alt="image">

            </div>
            <form>
            <h3> FIRM SIGNIN</h3>

            <div class="form-wrapper">
                <input type="text" placeholder="username" class="form-control">
            </div>


            <div class="form-wrapper">
            <input type="password" placeholder="password" class="form-control">
            </div>

            <span class="input-group-btn">
                <button class="btn btn-secondary submit_btn" type="button">login</button>
            </span>

               

          

            </div>
            </form>


        </div>
    </div>
    
</body>
</html>